@charset "utf-8";
@import "variables/bulma-config";
@import "base/fa/fontawesome.scss";
@import "base/fa/solid.scss";
@import "../../node_modules/bulma/bulma.sass";
@import "sassi-breakpoints";
// Import variables, abstractions, base styles and components.
// Uncomment the next lines and adjust them to your needs.
//@import "abstractions/{YOUR FILE NAME HERE}";
@import "base/_fonts.scss";
@import "base/_typography.scss";
@import "base/_layout.scss";
//@import "components/{YOUR FILE NAME HERE}";
@import "components/tabs";
@import "components/forms";
@import "components/timeline";
@import "components/volpi";
@import "components/upei-footer";
@import "components/navbar";
@import "components/internal-hero";
@import "components/lp-grid";
@import "components/exhibit-pages";


h1, h2 {
    @extend .title;
}
.breadcrumb {
}
.block01 {
//display: none;
}
iframe.pdf {
    height: 1000px;
}
.islandora-pdf-content {
    margin-bottom:1rem;;
} 
.islandora-metadata-sidebar {
    margin-bottom:1rem;
} 

.content dd {
    margin-left:0;
}
html {
        scroll-behavior: smooth;

}
.lp_bottom_branding a {
    border-bottom: none !important;
  }
