@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
$fa-font-path: "../fonts/fontawesome/webfonts";
// Set your brand colors
$purple: #8A4D76;
$upei-red: rgb(140, 32, 4);
$upei-green: rgb(92, 135, 39);
$upei-yellow: rgb(251, 176, 64);
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$text: #404248;
$family-serif: "Minion Pro", serif;
$family-sans-serif: 'Open Sans', sans-serif;
//$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $upei-red;
$link: $upei-red;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $white;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
