//@format
.block-top-left {
  //display: none;
}
.block02 {
  //display: none;
}

.grid {
  .block__title {
    @extend .font-3;
  }
  .block__content {
    @extend .font-4;
  }
  .content-5 {
    .block__title {
      @extend .font-3;
    }
    .block__content {
      @extend .font-2;
    }
  }
}
.view-landing-page-grid {
  .column {
    flex-basis: 50%;
  }
  .lp-grid-image {
    padding: 0;
    a {
      display: block;
    }
  }
  .views-row {
    //font: 14px/1.6 "Source Code Pro", monospace;
    //font-weight: bold;

    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    color: #fff;

    &-1 {
      background-color: $upei-yellow;
    }
    &-2 {
      background-color: $upei-red;
      flex-direction: row-reverse;
    }
    &-3 {
      background-color: $upei-green;
    }
    &-4 {
      flex-direction: row-reverse;
      background-color: $upei-yellow;
    }
  }
  h2 {
    text-align: center;
    color: #fff;
  }
  h3 {
    margin-bottom: 2rem;
  }
  a {
    line-height: 0;
  }
}
.site-description * {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.6;
}
.lp-grid-text {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.lp-grid-text.column {
  display: flex;
  padding: 0 75px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.columns {
  //margin-bottom: 0 !important;
}
