//@format
.site-logo {
  width: 220px;
  img {
    width: 100%;
    max-height: initial;
  }
}
//.l-header,
.l-main {
  @extend .container;
}
.navbar-menu {
  align-items: center;
}
nav .menu {
  @extend .navbar-menu;
}

nav .menu a {
  @extend .navbar-item;
  //@extend .button;
}

.menu .leaf {
  list-style-image: none;
  list-style-type: none;
}

//mobile menu
.navbar-menu.is-active {
  .menu {
    display: block;
  }
}
.menu .home {
  &:before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-home);
  }
}
.menu .user {
  &:before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-user-circle);
  }
}
.menu .logout {
  &:before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-sign-out-alt);
  }
}
.menu *:before {
  margin-right: 5px;
}
